@import './variables';

header {
  width: 75rem;
}
#lg-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-body {
  width: 75rem;
}
.lg-dd-item {
  width: 13%;
}
#sub-menu-nav {
  width: 13%;
}
.cruise-menu-item {
  margin-right: 30px;
}

main {
  width: 75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog-articles {
  width: 100%;
}
.blog-teasers {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, auto);
}
.blogH4 {
  font-size: 16pt;
}

// LOCATION MAIN
.location {
  width: 100%;
}

// ABOUT US MAIN
.about-us {
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  .p1,
  .p2 {
    padding-right: 20px;
    border-right: 1px solid black;
  }
  .p3 {
    padding-top: 0;
    border-top: none;
    grid-column: 3;
  }
}

// CRUISES MAIN
.cruises {
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

// AGENT MAIN
.agent {
  width: 100%;
}
.agent-content {
  img {
    width: 33%;
  }
}

// BOOK MAIN
.book {
  width: 100%;
}

.footer-info {
  width: 75rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, auto);
}
