@import './variables';

#lg-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background: $prime;
}
.nav-body {
  width: 95%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#lg-dd-menu {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  padding-left: 0;
  margin: 0;
  padding: 0;
}

.menu-main-menu-container {
  width: 100%;
  height: 100%;
}

.cruise-menu-item {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 20px;
  a {
    color: white;
    text-decoration: none;
    font-size: 12pt;
  }
}
#menu-item-52:hover .sub-menu {
  display: flex;
}
.sub-menu {
  list-style: none;
  padding-left: 0;
  width: 200px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 160px;
  background: $prime;
  z-index: 1000;
}
.agent-menu-item {
  width: 100%;
  height: 35px;
  border-bottom: solid 1px white;
  display: flex;
  align-items: center;
  transition: ease-in-out 0.2s;
  &:hover {
    background: darken($prime, 5%);
  }
  a {
    margin-left: 10px;
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
  }
}

#sub-menu-nav {
  width: 25%;
  // height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  .sub-menu-nav-link {
    color: white;
    text-decoration: none;
  }
}
#sub-nav {
  width: 100%;
  display: none;
  flex-direction: column;
  background: $prime;
  position: absolute;
  top: 28px;
  z-index: 1000;
  a {
    font-family: $font;
    font-size: 11pt;
    color: white;
    text-decoration: none;
    padding: 15px 0px 15px 10px;
    border-bottom: solid 1px white;
    transition: ease-in-out 0.2s;
    &:hover {
      background: lighten($prime, 10%);
    }
  }
}

// .search {
//   width: 200px;
//   height: 25px;
//   display: flex;
//   input {
//     width: 170px;
//     height: 100%;
//     border: none;
//   }
//   button {
//     width: 30px;
//     height: 25px;
//     border: none;
//     background: lightgrey;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     img {
//       width: 20px;
//       height: 20px;
//     }
//   }
// }

#sm-nav {
  display: none;
}

// HOME MAIN
.blog-teasers {
  grid-template-columns: repeat(3, 1fr);
}

// ABOUT US MAIN
.about-us {
  width: 95%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  p {
    margin: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
  .p1 {
    padding-right: 20px;
    border-right: 1px solid black;
  }
  .p3 {
    padding-top: 20px;
    border-top: 1px solid black;
    grid-column: 1 / -1;
  }
}

// LOCATION MAIN
.map {
  padding-bottom: 75%; // This is the aspect ratio
}

// CRUISE MAIN
.cruises {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

// AGENT MAIN
.agent {
  width: 95%;
  display: flex;
  flex-direction: column;
  h1 {
    font-family: $font;
  }
}
.agent-content {
  width: 100%;
  display: block;
  img {
    float: right;
    width: 50%;
    height: 100%;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  p {
    font-family: $font;
    clear: left;
  }
}

// BOOK MAIN
.book-form {
  width: 50%;
}

// CONTACT FORM
.wpcf7 {
  width: 410px;
}

// NEWS
.news-wrap {
  img {
    width: 100%;
    height: 100%;
    float: right;
    margin: 0px 20px 5px 5px;
  }
}
.news-text {
  margin: 4px 4px 4px 20px;
}

// FOOTER
.footer-info {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
}
